Admin/node_modules
Admin/package-lock.json
Admin/.next
Server/node_modules
Server/package-lock.json
Server/.wwebjs_auth
Server/.wwebjs_cache
Server/.wwebjs*
Server/.env
Widget/node_modules
Widget/package-lock.json
Widget/.next
FileServer/node_modules
FileServer/package-lock.json
FileServer/files
App/node_modules
App/package-lock.json
App/.next
Test/
Test

