Admin/node_modules
Admin/package-lock.json
Admin/.next
Server/node_modules
Server/package-lock.json
Widget/node_modules
Widget/package-lock.json
Widget/.next
FileServer/node_modules
FileServer/package-lock.json
FileServer/files

